.DS_Store
.mayaSwatches/
*.secret.py
*.ipynb_checkpoints

# Python files
# ------------
# Byte-compiled / optimized / DLL files
.DS_Store
__pycache__/*
*.py[cod]
geocoder-env

# C extensions
*.so
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
tags

results.csv
scripts-env